<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> 
        <title>Timeslot List</title>
    </head>
    <body>
        <div class="container">
            <br />
              <h3 align="center">Timeslots</h3><br />
              <div class="table-responsive" ng-app="app-timeslots" ng-init="getAllTimeslots()">
                <form [formGroup] = "timeslotFrom" (ngSubmit)="onSubmit()">
                  <table class="table table-bordered table-striped">
                    <thead>
                      <tr>
                        <th>Start Time</th>
                        <th>End Time</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td><input type="datetime-local" formControlName="timeslotStart" [(ngModel)]="timeslot.startTime" class="form-control" ng-required="true"></td>
                        <td><input type="datetime-local" formControlName="timeslotEnd" [(ngModel)]="timeslot.endTime" class="form-control" ng-required="true"></td>
                        <td><button type="submit" class="btn btn-success btn-sm" ng-disabled="timeslotForm.$invalid">Add</button></td>
                      </tr>
                      <tr *ngFor="let timeslot of timeslots">
                        <td ng-click="showEdit(timeslot)">
                          <span ng-hide="isEditable">{{timeslot.startTime}}</span>
                          <input type="datetime-local" formControlName="timeslotStart" ng-show="isEditable" [(ngModel)]="timeslot.startTime" class="form-control" ng-required="true">
                        </td>
                        <td ng-click="showEdit(timeslot)">
                          <span ng-hide="isEditable">{{timeslot.endTime}}</span>
                          <input type="datetime-local" formControlName="timeslotEnd" ng-show="isEditable" [(ngModel)]="timeslot.endTime" class="form-control" ng-required="true">
                        </td>
                        <td>
                          <button type="button" class="btn btn-primary btn-sm" ng-hide="isEditable" (ng-click)="showEdit(timeslot)">Edit</button>
                          <button type="button" class="btn btn-danger btn-sm" ng-hide="isEditable" (ng-click)="deleteTimeslot(timeslot.id)">Delete</button>
                          <button type="button" class="btn btn-primary btn-sm" ng-show="isEditable" (ng-click)="update(timeslot.id)">Update</button>
                          <button type="button" class="btn btn-danger btn-sm" ng-show="isEditable" (ng-click)="cancel(timeslot.id)">Cancel</button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </form>
                <script type="text/ng-template" id="edit">
                  <td><input type="text" ng-model="formData.startTime" class="form-control" /></td>
                  <td><input type="text" ng-model="formData.startTime" class="form-control" /></td>
                  <td>
                      <input type="hidden" ng-model="formData.data.id" />
                      <button type="button" class="btn btn-info btn-sm" ng-click="editData()">Save</button>
                      <button type="button" class="btn btn-default btn-sm" ng-click="reset()">Cancel</button>
                  </td>
                </script>
              </div>
        </div>
    </body>
</html>