<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <title>Boston Code Camp Login</title>
  </head>
  <body>
    <div class="container">
      <br />
      <br />
      <div class="col">
        <div class="table-responsive">
          <table class="table table-bordered">
            <tbody>
              <tr>
                <td>
                  <h3 style="text-align:center">Boston Code Camp Login</h3>
                </td>
              </tr>

              <tr>
                <td>
                  <form [formGroup]="loginForm" (ngSubmit)="submitLogin()">
                    <div class="form-group">
                      <label for="usernameInput">Username</label>
                      <input
                        type="username"
                        class="form-control"
                        id="username"
                        placeholder="Enter Name"
                      />
                    </div>
                    <div class="form-group">
                      <label for="passwordInput">Password</label>
                      <input
                        type="password"
                        class="form-control"
                        id="password"
                        placeholder="Password"
                      />
                    </div>
                    <button
                      type="submit"
                      class="btn btn-success btn-sm"
                      ng-disabled="loginForm.$invalid"
                    >
                      Login
                    </button>
                  </form>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>
