<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>List of Speakers</title>
    </head>
    <body>
            <h1>Speakers</h1>
            <h2>Add a Speaker</h2>
            <div><span>First Name:    </span> <input [(ngModel)]="selectedRoom.name" placeholder="Room Name"> </div>
            <br>
            <div><span>Last Name:  </span> <input [(ngModel)]="selectedRoom.capacity" placeholder="Room Capacity (eg. 25)"> </div>
            <br>
            <div><span>Email:  </span> <input [(ngModel)]="selectedRoom.capacity" placeholder="Room Capacity (eg. 25)"> </div>
            <br>
            <button ng-click="addRoom"> Add </button>
    
        <h1>Speakers</h1>
        <h2>List of Speakers</h2>
        <ul class="speakers">
            <li *ngFor="let speaker of speakers"
            [class.selected]="speaker == selectedSpeaker"
            (click)="onSelect(speaker)">
            <span class="badge">{{ speaker.id }} </span> {{ speaker.firstName }} {{ speaker.lastName }} {{ speaker.email }}
          </li>
         </ul>
    </body>
</html>
