<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <title>List of Speakers</title>
  </head>
  <body>
    <div class="container">
      <br />
      <h3 style="text-align:center">Speakers</h3>
      <br />
      <div
        class="table-responsive"
        ng-app="app-speakers"
        ng-init="getAllSpeakers()"
      >
        <form [formGroup]="speakerForm" (ngSubmit)="writeSpeaker()">
          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>Speaker First Name</th>
                <th>Speaker Last Name</th>
                <th>Email Address</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <input
                    type="text"
                    formControlName="firstName"
                    [(ngModel)]="speaker.firstName"
                    class="form-control"
                    ng-required="true"
                  />
                </td>
                <td>
                  <input
                    type="text"
                    formControlName="lastName"
                    [(ngModel)]="speaker.lastName"
                    class="form-control"
                    ng-required="true"
                  />
                </td>
                <td>
                  <input
                    type="text"
                    formControlName="email"
                    [(ngModel)]="speaker.email"
                    class="form-control"
                    ng-required="true"
                  />
                </td>
                <td>
                  <button
                    type="submit"
                    class="btn btn-success btn-sm"
                    ng-disabled="speakerForm.$invalid"
                  >
                    Add
                  </button>
                </td>
              </tr>
              <tr *ngFor="let speaker of speakers">
                <td *ngIf="!speaker.isEditable">
                  <span>{{ speaker?.firstName  }}</span>
                </td>

                <td *ngIf="speaker.isEditable">
                  <input
                    type="text"
                    formControlName="firstName"
                    [(ngModel)]="currentSpeaker.firstName"
                    class="form-control"
                    ng-required="true"
                  />
                </td>

                <td *ngIf="!speaker.isEditable">
                  <span>{{ speaker?.lastName }}</span>
                </td>
                <td *ngIf="speaker.isEditable">
                  <input
                    type="text"
                    formControlName="lastName"
                    [(ngModel)]="currentSpeaker.lastName"
                    class="form-control"
                    ng-required="true"
                  />
                </td>

                <td *ngIf="!speaker.isEditable">
                  <span>{{ speaker?.email }}</span>
                </td>

                <td *ngIf="speaker.isEditable">
                  <input
                    type="text"
                    formControlName="email"
                    [(ngModel)]="currentSpeaker.email"
                    class="form-control"
                    ng-required="true"
                  />
                </td>

                <td *ngIf="!speaker.isEditable">
                  <button
                    type="button"
                    class="btn btn-primary btn-sm"
                    (click)="showEdit(speaker)"
                    [disabled]="this.disableEdit"
                  >
                    Edit
                  </button>
                  <button
                    type="button"
                    class="btn btn-danger btn-sm"
                    (click)="deleteSpeaker(speaker.id)"
                  >
                    Delete
                  </button>
                </td>

                <td *ngIf="speaker.isEditable">
                  <button
                    type="button"
                    class="btn btn-primary btn-sm"
                    (click)="updateSpeaker()"
                  >
                    Save
                  </button>
                  <button
                    type="button"
                    class="btn btn-danger btn-sm"
                    (click)="cancel(speaker)"
                  >
                    Cancel
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </form>
      </div>
    </div>
  </body>
</html>
