<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <title>List of Speakers</title>
   </head>
   <body>
      <h1>Speakers</h1>
      <ul class="speakers">
         <li *ngFor="let speaker of speakers"
         [class.selected]="speaker == selectedSpeaker"
         (click)="onSelect(speaker)">
         <span class="badge">{{ speaker.email }} </span> {{ speaker.firstName }} {{ speaker.lastName }}
         </li>
      </ul>
   </body>

   <div *ngIf="selectedSpeaker">
        <h2>Edit or Delete Speaker</h2>
        <div><span>Speaker Name: </span>{{selectedSpeaker.firstName}} {{selectedSpeaker.lastName}}</div>
        <div><span>Speaker Email:</span>{{selectedSpeaker.email}}</div>
        <br>
        <button (click)="deleteRoom()">Delete this Speaker</button>
        <br>
        <div>
          <label> Edit Speaker Details: 
            <input [(ngModel)]="selectedSpeaker.firstName" placeholder="first name">
            <input [(ngModel)]="selectedSpeaker.lastName" placeholder="last name">
            <input [(ngModel)]="selectedSpeaker.email" placeholder="email">
          </label>
        </div>
    </div>

    <button (click)="toggle()" id="bt">Add a Speaker</button>

    <ng-container *ngIf="show">
        <div>
            <div>
                <br>
                <label>Speaker First Name: </label><input id="firstName" placeholder="eg. Ronald" />
                <br>
            </div>
            <div>
                <br>
                <label>Speaker Last Name: </label><input id="lastName" placeholder="eg. Krawitz" />
                <br>
            </div>
            <div>
                <br>
                <label>Speaker Email Address: </label><input id="email" placeholder="eg. krawaitzr@wit.edu" />
            </div>
            <div>
              <br>
              <button (click)="addSpeaker()">Submit</button>
            </div>
        </div>
    </ng-container>
</html>