<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
  <title>Phase 3</title>
  </head>
  <body>  
    
      <div class="container">
          <br />
          <h2 style="text-align:center">Phase 3 Main Menu</h2>
          <br />
    
    
    <h3>Select Speaker</h3>  
      <select>
          <option value="" disabled selected> -- Select Speaker-- </option>
          <option *ngFor="let speaker of speakers" [ngValue]="speaker">
            {{ speaker.firstName }} {{ speaker.lastName }}
          </option>
      </select>

       <button
        type="submit"
        class="btn btn-success btn-sm"
        (click)="showSpeaker(speaker)"
      >
      Submit
      </button>
      <h3>Or Select Session</h3>
        <select>
            <option value="" disabled selected>--Select Sessions--</option>
            <option *ngFor="let session of sessions" [ngValue]="session">{{
              session.name
              }}</option>
          </select>
          <button
            type="submit"
            class="btn btn-success btn-sm"
            data-toggle="collapse" data-target="#sessions-by-speaker" aria-expanded="false" aria-controls="sessions-by-speaker"
          >
          Submit
          </button>
          </div>

          <div class="table-responsive" ng-app="app-counts"  id="sessions-by-speaker" ng-show="showDetails">
              <form [formGroup]="sessionForm">
                <table class="table table-bordered table-striped">
                  <thead>
                    <tr>
                        <th>Presentation Name</th>
                        <th>Start Count</th>
                        <th>Mid Count</th>
                        <th>End Count</th>
                    </tr>
                  </thead>
                  <tbody>
                     
                          
                        
                      </tbody>
                </table>
              </form>
            </div>
            <script type = "text/javascript">
            function toggleSessions(){
              var divToToggle = document.getElementById("sessions-by-speaker");
              if(divToToggle.style.display === 'none')
                divToToggle.style.display = 'block';
               else 
                divToToggle.style.display ='none';
              
            }
            </script>
    </body>
</html>