<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>List of Rooms</title>
    </head>
    <body>
        <h1>Rooms</h1>
        <h2>Add a Room</h2>
        <div><span>Room Name:    </span> <input [(ngModel)]="selectedRoom.name" placeholder="Room Name"> </div>
        <br>
        <div><span>Room Capacity:  </span> <input [(ngModel)]="selectedRoom.capacity" placeholder="Room Capacity (eg. 25)"> </div>
        <br>
        <button ng-click="addRoom"> Add </button>

        <h2>List of Rooms</h2> 
        <ul class="rooms">
            <li *ngFor="let room of rooms"
            [class.selected]="room == selectedRoom"
            (click)="onSelect(room)">
            <span class="badge">{{ room.roomName }} </span> {{ room.capacity }}
          </li>
         </ul>
         
    </body>

    <div *ngIf="selectedRoom">

        <h2>Edit Room:</h2>
        <div><span>Room Name: </span> <input [(ngModel)]="selectedRoom.roomName" placeholder="name"> </div>
        <div><span>Room Capacity:</span> <input [(ngModel)]="selectedRoom.capacity" placeholder="capacity"> </div>
    </div>

</html>
