<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>List of Rooms</title>
    </head>
    <body>
        <h1>Rooms</h1>
        <ul class="room">
            <li *ngFor="let room of rooms"
            [class.selected]="room == selectedRoom"
            (click)="onSelect(room)">
            <span class="badge">{{ room.roomName }} </span> {{ room.capacity }}
          </li>
         </ul>
    </body>

    <div *ngIf="selectedRoom">
        <h2>Edit or Delete Room </h2>
        <div><span>RoomName: </span>{{selectedRoom.roomName}}</div>
        <div><span>Room Capacity:</span>{{selectedRoom.capacity}}</div>
        <br>
        <button (click)="deleteRoom()">Delete this Room</button>
        <br>
        <div>
          <label> Update:
            <input [(ngModel)]="selectedRoom.roomName" placeholder="roomName">
            <input [(ngModel)]="selectedRoom.capacity" placeholder="capacity">
          </label>
        </div>
    </div>

    <button (click)="toggle()" id="bt">Add a Room</button>

    <ng-container *ngIf="show">
        <div>
            <div>
                <br>
                <label>Room Name: </label><input id="roomName" placeholder="eg. BEATTY401" />
                <br>
            </div>
            <div>
                <br>
                <label>Room Capacity: </label><input name="roomCapacity" placeholder="eg. 1-999" />
                <br>
            </div>
            <div>
              <br>
              <button (click)="addRoom()">Submit</button>
            </div>
        </div>
    </ng-container>


</html>
